body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.content {
    display: inline-block;
    width: 1170px;
}

header {
    background: #194277;
    text-align: center;
}

header>div {
    line-height: 72px;
}

header>div>div {
    margin-right: 51px;
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
}

header>div>button {
    padding: 10px 37px;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    color: #194277;
    font-weight: 700;
    letter-spacing: 0.55px;
}

section.welcome {
    background-color: #3695ff;
    background-image: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
}

.menu {
    text-align: right;
}

.menu img {
    display: inline;
    width: 25px;
    height: 19px;
}

.menu img:hover {
    filter: invert(100%);
}
#profile_pic{
	text-align: center;
}
#el_2{
	display: inline-block;
	border-radius: 50%;
	border: #FFF solid 3px;
	width: 145px;
	height: 145px;
	background: #fff;
	/*background: #fff url(../img/profile.png) center 0 no-repeat;*/
	transform: translate(-161px, -4px);
}
#el_2_c{
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #FFF;
	width: 164px;
	height: 164px;
	background: #fff;
	opacity: 0.09;
}
#el_2_c_2{
	display: inline-block;
	border-radius: 50%;
	width: 185px;
	height: 185px;
	background: #fff;
	opacity: 0.059;
	transform: translate(179px, 9px);
}
h1 {
    margin: 0 180px 42px;
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

.welcome p {
    margin: 0 180px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

button.hire_me {
    margin-top: 75px;
    padding: 17px 65px;
    background-color: #ffffff;
    border-radius: 28px;
    border: none;
    font-size: 16px;
    color: #194277;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.arrow {
    margin: 90px 0 20px;
}

.arrow:hover {
    filter: invert(100%);
}

h2 {
    margin: 90px 0;
    color: #3677fd;
    font-size: 50px;
    font-weight: 300;
    line-height: 35.12px;
}

.about_me p {
    margin: 0 152px 115px;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}


h5 {
    color: #3677fd;
}
.expert_in {
    background-color: #f1f8ff;
}

.skills {
    display: inline-block;
    width: 300px;
    margin: 68px 30px 111px;
}
.skills p {
    color: #5a5a5a;
}




.skills div {
    display: inline-block;
    box-sizing: border-box;
    height: 140px;
    width: 140px;
    border: 1px solid grba(0, 0, 0, 0);
    border-radius: 50%;

}

.skills div:hover {

    border: 1px solid #b7c0c9;

}

.skills div img {
    position: relative;
    transform: translate(0, 50%);
}

.work {
    display: inline-block;
    width: 325px;
    height: 269px;
    margin: 27px 15px;
    background-color: #f4f4f4;
    vertical-align: top;
}

.clients {
    height: 363px;
background-color: #f1f8ff;
}
.clients h2 {
    padding-top: 94px; 
}


footer {
    background-color: #e8f3ff;
    background-image: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
    height: 247px;
    text-align: center;
}

footer>div {
    line-height: 247px;
}

footer>div>div {
    display: inline-block;
    margin-right: 64px;
    color: #ffffff;
    font-size: 50px;
}
span {
    font-weight: 700;
}